:root {
    --primery-color: #231534;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Initial state: hide all accordion content */
.accordion-content {
    display: none;
    font-size: .75rem;
}

/* Active state: show the accordion content when the 'active' class is present */
.accordion-content.active {
    display: block;
    margin-top: 12px;
    line-height: 1rem;
}

body {
    background: black;
    min-width: 100vw;
    min-height: 100vh;
    font-family: "Arcade";

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homme-text {
    font-family: "Homme";
}
.arcade-text {
    font-family: "Arcade";
}

#game-board {
    background-image: url(/assets/maps/background-blue.png);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.fps-display {
    color: white;
}
image {
    transition: all;
}


